@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
max-width: 100%;
background-color: rgb(208, 202, 192);

}
.content {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
   
}
.greeting {
  flex: 0 0 50%; 
  margin-left: 50px; 
}
.greeting__text {
	margin-top: 30px;
	font-size: 80px;
	color: white;		
}
.List {
	margin-top: 20px;	
}
.list-li {
	padding-left: 70px;
	line-height: 25px;
	font-size: 20px;
	list-style-type: none;
	color: white;
	background-image: url(img/icons8-галочка-48.png) left no-repeat ;
}
.img {	
	
}
.img__i {
	width: 450px;
	height: 200px;
	margin: 50px 50px 50px 0;
}
.mid {  
  flex: 1 1 auto;
}
.mid__head {
  max-width: 100%; 
}
.mid__content {
  display:flex;  
  margin: 0 auto;
  max-width: 1180px;
  height: 200px;  
}
.mid__scheme {  
  width: 500px;  
  height: 200px;      
}
.mid__scheme_img {
  width: 300px;
  height: 100px;
  margin: 40px 0 40px 100px;   
}
.mid__text {
  margin-left: 30px;
  flex: 1 1 auto;  
}
.mid_text_h1 {
  font-size: 30px;
  line-height:40px;
}
.mid_text_p1 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.mid_text_p2 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.mid_center {
  background-color: rgb(208, 202, 192);
}
.mid_center__content {
  margin: 0 auto;
  width: 1180px;
}
.mid_center_title {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
.block_total {
  display: flex;
}
.block_element1-2 {
  display: flex;
  flex-direction: column;
}
.mid_center_element1 {
  display: flex;
  width: 590px;
  
}
.mid_center_img1 {
  width: 200px;
  height: 150px;
}
.mid_center_text1 {

}
.text1 {
  padding: 10px;
  font-size: 20px;
}
.text1_2 {
  margin-top: 10px;
  font-size: 17px;
}
.mid_center_element2 {
  display: flex;
  width: 590px;
    
}
.mid_center_img2 {
  width: 200px;
  height: 150px;
}
.mid_center_text2 {
}
.text2 {
  padding: 10px;
  font-size: 20px;
}
.text2_2 {
  margin-top: 10px;
  font-size: 17px;
}
.block_element3-4 {
  display: flex;
  flex-direction: column;
}
.mid_center_element3 {
  display: flex;
  width: 590px;
   
}
.mid_center_img3 {
  width: 200px;
  height: 150px;
}
.mid_center_text3 {
}
.text3 {
  padding: 10px;
  font-size: 20px;
}
.text3_2 {
  margin-top: 10px;
  font-size: 17px;
}
.mid_center_element4 {
  display: flex;
  width: 590px;
  
}
.mid_center_img4 {
  width: 200px;
  height: 150px;
}
.mid_center_text4 {
}
.text4 {
  padding: 10px;
  font-size: 20px;
}
.text4_2 {
  margin-top: 10px;
  font-size: 17px;
}


/*_____mid_footer_____*/
.mid_footer {  
}
.mid_footer_content {
  width: 1180px;
  margin: 0 auto;
}
.mid_footer_title {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
.mid_footer_column {
  display: flex;
}
.first_column {
  border: solid black;
  width: 250px;
  height: 400px;
  background-color: rgb(91, 97, 98);
  color: white;
}
.first_column_hi {
  font-size: 20px;
  text-align: center;
}
.first_column_text {
  height: 100px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-top: 40px;
}
.first_column_text2 {
}
.first_column_button {
}
.first_column_link {
}


/*_____footer______*/


.footer {
  height: 60px; 
  background-color: rgb(138, 125, 125); 
}
.footer__block {  
  margin: 0 auto;
  max-width: 1180px;  
}
.footer__text {  
  padding-top: 20px;  
  text-align: center;
  font-size: 16px;
}