@import url(nullstyle.scss);
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
body {
    font-family: 'League Spartan', sans-serif;
}
.content-header  {  
    position: relative;         
    width: 1440px;
    height: 900px;
    margin: 0 auto; 
    background-color: #F8F8F8; 
    border: solid white;
}
.text_first_block {    
    margin: 104px 0 0 133px;
}
.mor705 {  
    width: 135px;
    height: 32px;
    margin-bottom: 53px;
    font-style: normal; 
    font-size: 24px;
    font-weight: 300;
}
.watch {  
    width: 877px;
    height: 215px;     
    font-size: 250px;
    font-style: normal;
    font-weight: 300;
    line-height: 230px;
}
.content_main {
    width: 575px;
    height: 142px;
    margin-top: 43px;   
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%
}
.button {
    width: 278px;
    height: 82px;
    margin-top: 61px;
    background-color: black;
}
.refer {
    margin: 26px 74px 35px 73px;
    display: inline-block;
    width: 131px;
    height: 21px;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 29px;
    text-decoration: none;
    color: #F8F8F8;
}
.price {   
    position: absolute;   
    top: 650px;
    left: 413px;
    width: 137px;
    height: 82px;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
    text-align: center;
    line-height: 85px;
    font-size: 32px;
    font-weight: 300;    
}
.w {  
    position: absolute;    
    left: 792px; 
    top: 1px;    
    width: 408px;
    height: 720px;     
}
.popular {   
    margin: 43px 0 0 621px; 
    width: 171px;
    height: 41px;    
    font-weight: 300;
    font-size: 24px;
    line-height: 44.64px;
    text-align: center;
}
.models {
    margin: 0 0 0 564px;
    width: 285px;
    height: 62px;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 81px;
    text-align: center;
}
.fon {
    margin-top: 84px;
    margin-left: 511px;
    width: 417px;
    height: 630px;
    background-color: #F8F8F8;
}
.watch_mid {
    margin: 110px 60px 110px 71px;
    width: 286px;
    height: 410px;
}
.Son22 {
    margin-top: 67px;
    margin-left: 576px;
    width: 285px;
    height: 27px;
    font-weight: 400px;
    font-size: 32px;
    line-height: 29.44px;
    text-align: center;

}
.content_mid {
    margin-top: 17px;
    margin-left: 454px;
    width: 531px;
    height: 194px;
    font-weight: 300;
    font-size: 32px;
    line-height: 49.6px;
    text-align: center;
}
.fon_footer {
    margin-top: 85px;
    margin-left: 472px;
    width: 496px;
    height: 630px;
    background-color: #F8F8F8;
}
.watch_third {
    margin-top: 65px;
    width: 500px;
    height: 500px;    
}
.sw12 {
    margin-top: 67px;
    margin-left: 687px;
    width: 66px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
}
.content_end {
    margin-top: 17px;
    margin-left: 465px;
    width: 510px;
    height: 196px;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
}
.PD {
    margin-top: 59px;
    margin-left: 234px;
    width: 972px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
}
.line {
    margin-top: 9px;
    margin-left: 631px;
    width: 178.03px;
    height: 0px;  
    border: 1px solid #707070;  
}
.link {
    margin-top: 49px;
    margin-left: 464px;
    margin-bottom: 142px;
    width: 515px;
    height: 231px;    
}
.cpd {
    display: inline;
    width: 515px;
    height: 231px;
    font-weight: 300;
    font-size: 24px;
    line-height: 41px;
    text-align: center;
}
.lk {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 41px;   
    text-align: center;
}









